body {
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 2rem;
}
li {
    list-style: none;
}
.card-list {
    list-style: none;
    color: #000;
}
h2 {
    font-size: 4rem;
    color: #000;
}
.tag-pills{
    display: flex;
    justify-content: flex-start;
}
.pill {
    border-radius: 15px;
    margin: 0 0.7rem;
    padding: 0.5rem;
    background-color: rgb(71, 71, 255);
    color: #000;
}